# Make shorthands for common flags
alias ll="ls -lh"

# Save a lot of typing for common commands
alias gs="git status"
alias gc="git commit"
alias gl="git log"
alias v="vim"

git config --global alias.br branch
git config --global alias.sh stash

# Save you from mistyping
alias sl=ls

# Overwrite existing commands for better defaults
alias mv="mv -i"           # -i prompts before overwrite
alias rm="rm -i"
alias mkdir="mkdir -p"     # -p make parent dirs as needed
alias df="df -h"           # -h prints human readable format

# Alias can be composed
alias la="ls -A"
alias lla="la -l"

gp() {
	br=`git branch -vv | grep "*"`
	br1=${br#*origin/}
	br2=${br1%%:*}
	git push origin HEAD:${br2}
}

parse_git_branch() {
    git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

export PS1="\u@\h \[\033[01;00m\]\w\$(parse_git_branch)\[\033[00m\] $ "
